<html>
<head>
    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
    <h1>Food Review</h1>
</head>
<body>
    <div class="aligncenter">
        <h2>Cluster 1</h2>
        <img src="{{ url_for('static', filename='image.png') }}" class="img-fluid" alt="centered image" style="max-width: 550px;">
    </div>
    <div class="aligncenter">
        <h2>Cluster 2</h2>
        <img src="{{ url_for('static', filename='image2.png') }}" class="img-fluid" alt="centered image" style="max-width: 550px;">
    </div>
    <div class="aligncenter">
        <h2>Cluster 3</h2>
        <img src="{{ url_for('static', filename='image3.png') }}" class="img-fluid" alt="centered image" style="max-width: 550px;">
    </div>
    <div class="aligncenter" >
        <h2>Cluster 4</h2>
        <img src="{{ url_for('static', filename='image4.png') }}" class="img-fluid" alt="centered image" style="max-width: 550px;">
    </div>
    <div class="aligncenter">
        <h2>Cluster 5</h2>
        <img src="{{ url_for('static', filename='image5.png') }}" class="img-fluid" alt="centered image" style="max-width: 550px;">
    </div>
</body>
</html>